<% include header %>
<main>
    <div id="mapid"></div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script src="/js/script.js"></script>
    <script>
       <% for (var i = 0; i < gebouwen.length; i++) {%>
          var icoon = basis;
          if ("<%=gebouwen[i].attributes.categorie%>" == "Museum" ||
              "<%=gebouwen[i].attributes.categorie%>" == "Museumdepot") {
            icoon = museum;
          }
          if ("<%=gebouwen[i].attributes.categorie%>" == "Levensbeschouwelijk erfgoed") {
            icoon = kerk;
          }
          if ("<%=gebouwen[i].attributes.categorie%>" == "Archief" ||
              "<%=gebouwen[i].attributes.categorie%>" == "Erfgoedbibliotheek" ||
              "<%=gebouwen[i].attributes.categorie%>" == "Documentatiecentrum") {
            icoon = bibliotheek;
          }
          marker = new L.marker([<%=gebouwen[i].geometry.y%>, <%=gebouwen[i].geometry.x%>], {icon: icoon})
          .bindPopup("<h1><%=gebouwen[i].attributes.naam%></h1>,<%=gebouwen[i].attributes.categorie%>")
          .addTo(cultureMap);
      <% }%>
/*
      .bindPopup(`
        <img src="${gebouwen[i].marker}" alt="kerk marker" class="popup-marker">
        <h1>Campus ${gebouwen[i].naam}</h1>
        <h2>${gebouwen[i].categorie}</h2>
        <p>
        ${gebouwen[i].straat} ${gebouwen[i].huisnr} <br>
        ${gebouwen[i].postcode} ${gebouwen[i].gemeente} <br>
        </p>
        `)
*/
    </script>
</main>
<% include footer %>
