<% include header %>
<main>
    <div id="mapid"></div>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/nav.js"></script>

    <script>
        var arMarkers = new Array();
       <% for (var i = 0; i < gebouwen.length; i++) {%>
          var icoon = basis;
          if ("<%=gebouwen[i].attributes.categorie%>" == "Museum" ||
              "<%=gebouwen[i].attributes.categorie%>" == "Museumdepot") {
            icoon = museum;
          }
          if ("<%=gebouwen[i].attributes.categorie%>" == "Levensbeschouwelijk erfgoed") {
            icoon = kerk;
          }
          if ("<%=gebouwen[i].attributes.categorie%>" == "Archief" ||
              "<%=gebouwen[i].attributes.categorie%>" == "Erfgoedbibliotheek" ||
              "<%=gebouwen[i].attributes.categorie%>" == "Documentatiecentrum") {
            icoon = bibliotheek;
          }
          if ("<%=gebouwen[i].attributes.categorie%>" == "Erfgoedvereniging") {
            icoon = erfgoed;
          }
          marker = new L.marker([<%=gebouwen[i].geometry.y%>, <%=gebouwen[i].geometry.x%>], {icon: icoon})
          .bindPopup("<h1><%-gebouwen[i].attributes.naam%></h1><h2><%=gebouwen[i].attributes.categorie%></h2> <p><%=gebouwen[i].attributes.straat%> <%=gebouwen[i].attributes.huisnr%> <br> <%=gebouwen[i].attributes.postcode%> <%=gebouwen[i].attributes.gemeente%></p>").addTo(cultureMap);
          arMarkers.push([<%=gebouwen[i].geometry.y%>, <%=gebouwen[i].geometry.x%>]);
      <% }%>
        console.log(arMarkers);
    </script>
</main>
<% include footer %>
