<% include header %>

<main class="aboutcontact">
  <script src="/js/nav.js"></script>
  <h1>All Locations</h1>


    <% for (var i=0; i<gebouwen.length; i++) {%>
        <h1><%-gebouwen[i].attributes.naam%></h1>
        <h2><%=gebouwen[i].attributes.categorie%></h2>
        <p><%=gebouwen[i].attributes.straat%> <%=gebouwen[i].attributes.huisnr%> <br> <%=gebouwen[i].attributes.postcode%> <%=gebouwen[i].attributes.gemeente%></p>
    <% }%>

</main>

<% include footer %>
